body{
    width: 100%;
}
.table-main {
    border-collapse: collapse;
    margin: auto;
}
td{
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
}
.table-main td{
    text-align: center;
    border: solid black 2px;
}
th{
    border: solid black 2px;
    padding: .5em;
    background-color: whitesmoke;
}
.container{
    width: 100vw;
    text-align: center;
}
.summary{
    margin-top: 15px;
    margin-left: 5%;
    font-size: 115%;
}